<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FACESYNTH</title>
  <!-- lets hide any overflow -->
  <style>
    body {
    	margin: 0px;
    	overflow: hidden;
    }
  </style>
</head>
<body>
  <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
  <script>
    var socket = io()

    // were gonna need a function to return an integer between 0 and 100
    // to determine where the face will pop up on the page
    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min
    }

    // lets listen for socket event here
    socket.on('supguys', function(picUrl) {

      // and when that event fires, lets do some dom manipulation
      var pic = document.createElement('img')
      var x = getRandomArbitrary(0, 100)
      var y = getRandomArbitrary(0, 100)

      // we make an img element and designate the
      // random user picture as its source
      pic.src = picUrl

      // and position that sucker at a random place on the screen
      pic.style.cssText = 'position:absolute;left:' + x + 'vw;top:' + y + 'vh;'
      document.body.appendChild(pic)
    })
  </script>
</body>
</html>
